@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
    
}
body{
    background-color: pink;
  
}
header{
    min-width: 100%;
    max-height: 40%;
    
}
nav{
    display: flex;
    background-color: whitesmoke;
    color: black;
    height: 60px;
    align-items: center;
    justify-content: space-between;
}
nav ul{
    display: flex;
    justify-content: space-evenly;
}
nav li{
    margin: 60px;
    list-style: none;
    
}
nav li a{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}
nav li a:hover{
    color: rgb(7, 240, 7);
    transition: .9s ease-in-out;
}

.logo{
    margin: 20px;
    font-size: 3rem;
}
span{
    color: rgb(4, 255, 4);
}

main{
    background-image: url(./samurai.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: fit-content;
    background-blend-mode: darken;
    height: 90vh;
    text-align: center;
    
}

.big-text{
    font-weight: 900;
    font-size: 4rem;
    
}


section{
    height: 50vh;
}